###함수
```
def 함수명() :
    함수가 해야할 일
```

In [2]:
def hello():
    print("hello")

hello()

hello

In [4]:
def hello2():
    return "hello"

hello2()

'hello'

In [5]:
def add(a,b):
    return a + b
print(f"3 + 4 = {add}")

3 + 4 = <function add at 0x000002AACDFCDE40>

In [ ]:
# 기본 파라메터 : 인자에 기본값()을 주는 형태

def printf_b_times(value,n=2):
    return

In [6]:
# 가변 파라메터(파라메터의 개수가 정해져 있지 않음)
def add_many(*args):
    print(args)

add_many()
add_many({"name":"hong","age":20})
add_many(35,24,25,63)
add_many("A","B","C","D")
add_many(["A","B","C","D"])

()
({'name': 'hong', 'age': 20},)
(35, 24, 25, 63)
('A', 'B', 'C', 'D')
(['A', 'B', 'C', 'D'],)

In [1]:
def sum_mul(choice, *args):
    if choice == "mul":
        result = 1
        for i in args:
            result *= i
    
    elif choice == "add":
        result =0
        for i in args:
            result += i
    return result

In [2]:
print(f"덧셈 : {sum_mul("add",1,2,3,4,5)}")
print(f"곱셈 : {sum_mul("mul",1,2,3,4,5)}")

덧셈 : 15
곱셈 : 120

In [4]:
# kwargs : **kwargs (딕셔너리 형태로 처리)

def args_func1(**kwargs):
    print("kwargs",kwargs)

    for k in kwargs.keys():
        print(k)

    for k,v in kwargs.items():
        print(k,v)

In [5]:
args_func1(name="Park")
args_func1(name1="Park" , name2="Kim", active=True)
args_func1(name="Park", age= 10,title="Title")
args_func1(name="Park",addr="seoul")
args_func1(name="Park",addr="seoul",tel="01012345678")

kwargs {'name': 'Park'}
name
name Park
kwargs {'name1': 'Park', 'name2': 'Kim', 'active': True}
name1
name2
active
name1 Park
name2 Kim
active True
kwargs {'name': 'Park', 'age': 10, 'title': 'Title'}
name
age
title
name Park
age 10
title Title
kwargs {'name': 'Park', 'addr': 'seoul'}
name
addr
name Park
addr seoul
kwargs {'name': 'Park', 'addr': 'seoul', 'tel': '01012345678'}
name
addr
tel
name Park
addr seoul
tel 01012345678

In [6]:
def example(arg1, arg2=10, *args, **kwargs):
    print(arg1,arg2,args,kwargs)

In [7]:
example(10)
example(10,25)
example(10,20,"park","kim")
example(10,25,"kim","cho",age=15,name="park")

10 10 () {}
10 25 () {}
10 20 ('park', 'kim') {}
10 25 ('kim', 'cho') {'age': 15, 'name': 'park'}

# 다중 리턴 : 튜플로 리턴 됨
```
    java나 javascript 는 하나만 리턴

    void main(){ return a}
    function func(){ return b}
```

In [9]:
def sum_and_mul(a,b):
    return a + b, a * b

In [11]:
result1, result2 = sum_and_mul(5,3)
print(f"덧셈 : {result1} ,곱셈 : {result2}")

덧셈 : 8 ,곱셈 : 15

In [12]:
result3 = sum_and_mul(5,3)
print(result3)

(8, 15)

In [13]:
def func2(x):
    y1 = x * 100
    y2 = x * 200
    y3 = x * 300

    # return y1,y2,y3 => tuple 로 리턴
    return [y1,y2,y3]

In [14]:
list1 = func2(10)
print(list1)

[1000, 2000, 3000]

In [16]:
# 사칙연사 함수
def fourRules(num1 , num2,op):
    if op == "+":
        result = num1 + num2
    elif op == "-":
        result = num1 - num2
    elif op == "*":
        result = num1 * num2
    elif op == "//":
        result = num1 // num2
    return result

a,b = 6,3
# 사칙연산 결과 출력
print(f"{a} + {b} = {fourRules(a,b,"+")}")
print(f"{a} - {b} = {fourRules(a,b,"-")}")
print(f"{a} * {b} = {fourRules(a,b,"*")}")
print(f"{a} // {b} = {fourRules(a,b,"//")}")

6 + 3 = 9
6 - 3 = 3
6 * 3 = 18
6 // 3 = 2

In [20]:
# a,b,op 입력 받기
a = int(input("숫자를 입력하세요"))
b = int(input("숫자를 입력하세요"))
op = input("연산자를 입력하세요")

# def fourRules(num1 , num2,op):
#     if op == "+":
#         result = num1 + num2
#     elif op == "-":
#         result = num1 - num2
#     elif op == "*":
#         result = num1 * num2
#     elif op == "//":
#         result = num1 // num2
#     return result

# 사칙연산 결과 출력
print(f"{a} {op} {b} = {fourRules(a,b,op)}")

8 // 2 = 4

In [22]:
# 유효 범위
a=3

def func2(a):
    print(f"함수 내부 {a}")
    a +=2
    print(f"함수 내부 {a}")

In [24]:
# 전역 변수
print(a)

func2(1)

3
함수 내부 1
함수 내부 3

In [27]:
def func3():
    # 함수 내부에서 전역 변수 사용
    global a
    a += 2
    return a

In [28]:
print(func3())

5

### 람다 함수
- 단일문으로 표현되는 익명함수
- 코드 상에서 한번만 사용되는 기능이 필요할 때 함수로 작성하지 않고 1회성으로 만들 때 주로 사용

In [29]:
def square(x):
    return x ** 2

square(5)

25

In [30]:
square = lambda x:x ** 2
square(6)

36

In [31]:
def add(x,y):
    return x+y

add(15,12)

27

In [32]:
add = lambda x,y: x+y
add(18,6)

24

In [33]:
strings = ["bob","charles","alexander3","teddy"]

strings.sort() # 오름차순

strings

['alexander3', 'bob', 'charles', 'teddy']

In [34]:
strings = ["bob","charles","alexander3","teddy"]

strings.sort(reverse=True) # 내림차순

strings

['teddy', 'charles', 'bob', 'alexander3']

In [35]:
# 단어 길이 리턴 함수
def str_len(word):
    return len(word)

strings = ["bob","charles","alexander3","teddy"]

strings.sort(key=str_len) # 정렬 기준 지정 후 정렬 - 단어의 길이가 짧은 순서

strings

['bob', 'teddy', 'charles', 'alexander3']

In [36]:
strings = ["bob","charles","alexander3","teddy"]

strings.sort(key=lambda s:len(s)) # 정렬 기준 지정 후 정렬 - 단어의 길이가 짧은 순서

strings

['bob', 'teddy', 'charles', 'alexander3']

In [37]:
strings = ["bob","charles","alexander3","teddy"]

strings.sort(key=lambda s:len(s),reverse=True) # 정렬 기준 지정 후 정렬 - 단어의 길이가 긴 순서

strings

['alexander3', 'charles', 'teddy', 'bob']

- filter(함수 ,데이터) : 반복가능한 데이터 요소 순서대로 함수를 호출했을 때 리턴값이 참인것만 묶어서 리턴
- map(함수 ,데이터) : 반복가능한 데이터 요소에 함수를 적용한 결과 리턴
- reduce()

In [38]:
def even(arr):
    result = []
    for i in arr:
        if i % 2 == 0:
            result.append(i)
    return result

even([1,2,3,6,8,9])

[2, 6, 8]

In [40]:
def even(n):
    return n % 2 == 0

print(list(filter(even,[1,2,3,6,8,9,10])))

[2, 6, 8, 10]

In [41]:
print(list(filter(lambda x:x%2==0,[1,2,3,6,8,9,10])))

[2, 6, 8, 10]

In [42]:
# 양수만 추출
def positive(list1):
    result = []
    for i in list1:
        if i >0:
            result.append(i)
    return result

list1 = [1,-3,2,0,-5,6]
positive(list1)

[1, 2, 6]

In [45]:
list(filter(lambda x:x>0,list1))

[1, 2, 6]

In [46]:
# 리스트의 각 요소에 2를 곱해 리턴

def two_times(nums):
    result = []

    for i in nums:
        result.append(i*2)
    return result

num_list =[1,2,3,6,8,10,11,12,13,14,15]
two_times(num_list)

[2, 4, 6, 12, 16, 20, 22, 24, 26, 28, 30]

In [47]:
def two_times1(x):
    return x * 2

list(map(two_times1, num_list))

[2, 4, 6, 12, 16, 20, 22, 24, 26, 28, 30]

In [48]:
list(map(lambda x:x*2,num_list))

[2, 4, 6, 12, 16, 20, 22, 24, 26, 28, 30]